{% extends 'Default/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12" style="margin-top: 2em">
            <h3>Der Stadtplan</h3>
            <p>Ziel dieses Stadtplans, der in Kooperation mit der <a href="https://www.hamburg.de/bkm/" target="_blank">Hamburger Kulturbehörde</a> und in Zusammenarbeit mi verschiedenen Einzelforscherinnen und Forschern neu aufgelegt wurde, ist es eine möglichst große Bandbreite an Orten im gesamten heutigen Hamburger Stadtgebiet vorzustellen und so schlaglichtartige auf die Vielfältigkeit der jüdischen Vergangenheit im Hamburger Raum, in dem vormals drei Gemeinden (Altona, Hamburg, Wandsbek) ebenso wie eine sefardische und eine aschkenasische Gemeinschaft existierten, hinzuweisen. Neben diesen historischen Orten nimmt der Plan auch Orte des gegenwärtigen jüdischen Lebens auf. Da der Fokus auf Orten jüdischen Lebens liegt, werden reine Gedenkorte nur vereinzelt aufgenommen, diese Inhalte stammen aus dem <a href="https://www.gedenkstaetten-hamburg.de/de/" target="_blank">Hamburger Gedenkstätten-Portal</a>, das zugleich die weiterführende Adresse für eine umfassende Übersicht zu den Hamburger Gedenkorten ist.</p>

            <h3>„Jüdische Orte“</h3>
            <p>Ein Stadtplan zu jüdischen Orten ist schon per definitionem ein schwieriges Unterfangen, denn was macht einen Ort „jüdisch“? Außerhalb der religiösen Sphäre unterscheiden sich jüdische Orte in den meisten Fällen in ihrem Erscheinungsbild nicht von nichtjüdischen Orten, im Fokus stand daher die Nutzung der Orte: wer nutze diesen Ort und wofür? Dennoch Unschärfen bleiben, denn nicht immer haben sich diejenigen, die an den vorgestellten Orten wirkten zwangsläufig selbst als Jüdinnen und Juden verstanden, bzw. hat ihr (jüdisches) Selbstverständnis nicht notwendigerweise den Ort geprägt. Dennoch haben wir uns entschieden, mitunter auch Orte aufzunehmen, die kaum als „jüdisch“ zu definieren sind, gerade um die Unmöglichkeit einer Grenzziehung zu verdeutlichen und aufzuzeigen, dass Jüdinnen und Juden nicht nur im gesamtem Hamburger Stadtraum leb(t)en und agier(t)en, sondern das sie in den verschiedensten Bereichen wirk(t)en und unzertrennlich mit der Stadtgeschichte verwoben sind.</p>

            <h3>Historische Wohngebiete</h3>
            <h4>Altona</h4>
            <p>Seit dem frühen 17. Jahrhundert waren aschkenasische Familien als sogenannte Schutzjuden in Altona angesiedelt. 1642 erhielten sie von König Christian IV. ein erstes Privileg, diese gut ausgestatteten Privilegien wurden bis 1842, als die Altonaer Juden das Bürgerrecht erhielten, immer wieder verlängert. Die relativ tolerante Religionspolitik sowie die unmittelbare Nachbarschaft von Hamburg machten Altona zu einem attraktiven Wohnort. In Altona war auch das Oberrabbinat angesiedelt, das ab 1671 auch für die Hamburger Juden zuständig war. Mit der Abwanderung von Gemeindemitgliedern nach Hamburg und dem Ende der Dreigemeinde AHW 1812 verlor die Altonaer Gemeinde zunehmen an Bedeutung. Sie geriet – auch durch den Zuzug osteuropäischer Juden seit dem späten 19, Jahrhundert - in (finanzielle) Abhängigkeit zur Hamburger Gemeinde. Unter nationalsozialistischer Herrschaft wurde Altona 1937 mit dem Großhamburg-Gesetz eingemeindet. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/hochdeutsche-israelitengemeinde-zu-altona-hig" target="_blank">Hochdeutsche Israelitengemeinde zu Altona (HIG) | Das Jüdische Hamburg</a>)</p>

            <h4>Altstadt / Neustadt</h4>
            <p>Die heutige Hamburger Innenstadt bildete das historisch erste Wohngebiet der Hamburger Jüdinnen und Juden. Zuerst siedelten sich seit dem späten 16. Jahrhundert in der Altstadt zwischen Rödingsmarkt, Bohnenstraße, Mühlebrücke und Alten Wall sefardische Juden, die sogenannten Portugiesen an, sie kamen in der Regel als christliche Kaufleute, Ärzte oder Bankiers und kehrten dann teilweise in der Hansestadt zum Glauben ihrer Vorfahren auf der Iberischen Halbinsel zurück.</p>
            <p>Die sogenannten aschkenasischen oder hochdeutschen Juden waren seit dem 17. Jahrhundert in Hamburg ansässig und bildeten ab dem 18. Jahrhundert die Mehrheit innerhalb der jüdischen Bevölkerung. Sie ließen sich in der Neustadt nieder, ein Gebiet, das erst durch eine Stadterweiterung in den Jahren 1616 bis 1628 neu erschlossen worden war. Ziel der Stadt war die Ansiedlung der Jüdinnen und Juden in einem begrenzten Gebiet westlich des Großneumarkts um so auch eine Durchmischung der christlichen und jüdischen Bevölkerung zu verhindern. Auch ohne offiziellen Beschluss entstanden dort über die Jahrhunderte zahlreiche jüdische Einrichtungen wie Synagogen, Schulen, Waisenhäuser, Wohnstifte oder Geschäftsräume. Mit der Wende vom 19. Zum 20. Jahrhundert verlor die Neustadt ihre Bedeutung als vormals wichtigstes Zentrum jüdischen Lebens in Hamburg. Der Große Brand 1842, Umbauten und die Bombenangriffe im Zweiten Weltkrieg zerstörten einen Großteil der historischen Orte, sodass heute nur noch vereinzelt Spuren auf dieses Erbe hinweisen.</p>

            <h4>Harburg</h4>
            <p>Seit dem frühen 17. Jahrhundert siedelten jüdische Familie in Harburg, im 19. Jahrhundert wuchs die Zahl der Gemeindemitglieder an, die vor allem im Wirtschaftsleben eine aktive Rolle spielten. Die Gemeinde unterhielt einen eigenen Friedhof und eine Synagoge. Infolge des Großhamburg-Gesetzes von 1937 wurde sie dem Jüdischen religionsverband Hamburg eingegliedert. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/harburg-wilhelmsburg-synagogengemeinde" target="_blank">Harburg-Wilhelmsburg, Synagogengemeinde | Das Jüdische Hamburg</a>)</p>

            <h4>Grindelviertel</h4>
            <p>Mit der Aufhebung der Torsperren durch die neue Hamburger Verfassung 1860 bildete sich das Grindelviertel seit der Wende vom 19. Zum 20. Jahrhundert zum Hauptwohngebiet der Hamburger Jüdinnen und Juden heraus. Einrichtungen, die zuvor in der Neustadt bestanden hatten, zogen in den Alsternahen Stadtteil bzw. wurden dort neu gegründet. Eine vielfältige Infrastruktur bestehend aus Geschäften für den täglichen Bedarf, Wohnstiften, Schulen, sozialen, kulturellen sowie religiösen Einrichtungen bildete sich heraus. Zentraler Ort war die 1906 von Semmy Engel und Ernst Friedheim errichtete Bornplatzsynagoge. Nach 1933 wurde das Grindelviertel auch Ort der einsetzenden Verfolgung und Vernichtung: Synagogen wurden geschändet und zerstört, Geschäfte boykottiert, Deportationen organisiert und abgewickelt werden, Judenhäuser mussten eingerichtet werden und das Logenhaus in der Hartungstraße war einer der letzten Orte jüdischer Selbstverwaltung. Die Neugründung der jüdischen Gemeinde in der Rothenbaumchaussee, der Bau der Synagoge in der Hohen Weide, die Eirichtung eines Altenheims in der Schäferkampsallee oder die Wiedereröffnung der früheren Talmud-Tora-Schule als Joseph Carlebach Bildungshaus verorten auch die jüdische Geschichte nach 1945 im Grindelviertel und seiner Nachbarschaft.</p>

            <h4>Wandsbek</h4>
            <p>Möglicherweise ließen sich die ersten jüdischen Familien bereits in den 1580er-Jahren in Wandsbek nieder, urkundlich bezeugt ist der Zuzug von Altonaer Schutzjuden für das Jahr 1621. Die Gemeinde gehörte seit 1671 dem Dreigemeindeverband AHW an. Nachdem sie im 18. Jahrhundert stark geschrumpft war, konnte sich im 19. Jahrhundert eine gewisse Infrastruktur (Synagoge, Gemeindeschule, neuer Friedhof) entwickeln. Mit der 1938 von den Nationalsozialisten erzwungenen Eingliederung in den Jüdischen Religionsverband Hamburg hörte die Wandsbeker Gemeinde auf zu existieren. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/wandsbek-j%C3%BCdische-gemeinde" target="_blank">Wandsbek, Jüdische Gemeinde | Das Jüdische Hamburg</a>)</p>

            <h3>Kategorien</h3>
            <h4>Bildung / Wissenschaft</h4>
            <p>Diese Kategorie umfasst ganz allgemein Orte des Forschens, Lehrens und Lernens, insbesondere Einrichtungen des jüdischen Schulwesens von traditionell-religiösen Einrichtungen bis zu reformpädagogischen Schulen, aber auch Bibliotheken oder Treffpunkte jüdischer Studentenvereinigungen.</p>

            <h4>Gedenken</h4>
            <p>Diese Kategorie fasst Orte, die in erster Linie oder ausschließlich dem Gedenken an die jüdische Vergangenheit der Stadt bzw. der Erinnerung an Verfolgung und Vernichtung der Hamburger Jüdinnen und Juden gewidmet sind. Vor allem sind dies verschiedene Mahnmale und Denkmäler, historische Orte jüdischen Lebens, die heute auch eine Erinnerungsfunktion haben, werden hier nur in Ausnahmefällen erfasst, in der Regel wurden sie den anderen Kategorien zugeordnet.</p>

            <h4>Kultur / Kunst</h4>
            <p>In diese Kategorie fallen neben den wenigen innerjüdischen Kulturorten, wie etwa das Logenhaus, vor allem solche Orte, an denen Jüdinnen und Juden gewirkt haben.</p>

            <h4>Religion / Tradition</h4>
            <p>In dieser Kategorie finden sich alle Orte, die mit der Ausübung von religiösen Praktiken bzw. der Befolgung der Traditionen im Zusammenhang stehen, hierzu zählen neben Synagogen und Betstuben etwa Klaus-Institute, Mikwen oder Friedhöfe.</p>

            <h4>Soziales</h4>
            <p>In dieser Kategorie finden sich alle Orte, die im Bereich Wohlfahrt, Zusammenleben / Gemeinschaft und Fürsorge verortet werden können. Diese Orte umfassen die zahlreichen Wohnstifte ebenso wie Waiseninstitute und Armenhäuser, Einrichtungen zur medizinischen Versorgung, Altenheime, Sportanlagen oder Hachschara-Ausbildungsstätten.</p>

            <h4>Wirtschaft</h4>
            <p>Orte wirtschaftlichen Handelns lassen sich in erster Linie herausragenden Unternehmerpersönlichkeiten zuordnen, die eigen Firmen gründeten oder in herausragender Position in Unternehmen tätig waren. Darüber hinaus werden einzelne Geschäfte und Betriebe, die von jüdischen Inhabern geführt wurden, vorgestellt. Die sogenannte Judenbörse in der Elbstraße, sin bis ins frühe 20. Jahrhundert existierender Straßenmarkt, steht beispielhaft für den jüdischen Kleinhandel.</p>

            <h3>Online-Angebot</h3>
            <p>Diese Web-Site wird vom Institut für die Geschichte der deutschen Juden betrieben.</p>

            <h3>Impressum</h3>
            <p>Institut für die Geschichte der deutschen Juden<br />
            Beim Schlump 83<br />
            20144 Hamburg</p>
            <p>Telefon: +49 40 – 42 838-2617<br />
            Fax: +49 40 – 44 808-66</p>
            <p>E-Mail: kontakt@igdj-hh.de</p>
            <p>Das Institut ist eine Stiftung bürgerlichen Rechts in der Trägerschaft der Freien Hansestadt Hamburg.</p>
            <p>Vertretungsberechtigte Personen:<br />
            Direktorin: Dr. Kim Wünschmann<br />
            Stellvertretender Direktor: PD Dr. Andreas Brämer</p>
            <p>Inhaltlich Verantwortlich:<br />
            Dr. Anna Menny<br />
            PD Dr. Andreas Brämer</p>
            <p>Aufsichtsbehörde:<br />
            Justizverwaltungsamt Stiftungsangelegenheiten<br />
            Drehbahn 36, 20354 Hamburg</p>

            <p>Technische Realisierung: Daniel Burckhardt</p>
        </div>
    </div>
{% endblock %}
