{% extends 'Default/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12" style="margin-top: 2em">
            <h2>Der Stadtplan</h2>
            <p>Ziel dieses zweisprachigen (deutsch / <a href="{{ path('about', { '_locale': 'en' }) }}">englisch</a>) Stadtplans, der in Kooperation mit der <a href="https://www.hamburg.de/bkm/" target="_blank">Hamburger Behörde für Kultur und Medien</a> und in Zusammenarbeit mit verschiedenen Einzelforscherinnen und -forschern neu aufgelegt wird, ist es, eine möglichst große Bandbreite an Orten im gesamten heutigen Hamburger Stadtgebiet vorzustellen und so schlaglichtartig auf die Vielfältigkeit der jüdischen Vergangenheit im Hamburger Raum, in dem vormals drei Gemeinden (Altona, Hamburg, Wandsbek) ebenso wie eine sefardische und eine aschkenasische Gemeinschaft existierten, hinzuweisen. Neben diesen historischen Orten nimmt der Plan auch Orte der Gegenwart auf. Da der Fokus auf Orten jüdischen Lebens liegt, werden reine Gedenkorte nur vereinzelt aufgenommen, diese Inhalte stammen aus dem <a href="https://gedenkstaetten-in-hamburg.de/" target="_blank">Portal „Gedenkstätten in Hamburg“</a>, das zugleich die weiterführende Adresse für eine umfassende Übersicht zu den Hamburger Gedenkorten ist. Neben der Dokumentation und geografischen Markierung der Orte wird – wann immer möglich – auf weiterführende Inhalte, insbesondere aus Online-Angeboten des <a href="http://igdj-hh.de/" target="_blank">IGdJ</a> (etwa <a href="https://juedische-geschichte-online.net/" target="_blank">Schlüsseldokumente-Edition</a> und <a href="https://www.dasjuedischehamburg.de/" target="_blank">Jüdisches Hamburg</a>) verlinkt. Die Informationen zu den Orten stammen aus eben diesen Online-Ressourcen, aus der analogen bzw. den vorherigen Versionen des Stadtplans ebenso wie aus der einschlägigen Sekundärliteratur. Entsprechende Hinweise finden sich bei jedem Eintrag, die aus der analogen Karte der <a href="https://www.hamburg.de/bkm/" target="_blank">Behörde für Kultur und Medien</a> übernommenen Einträge durch eckige POI-Marker (im Gegensatz zur runden Form) gekennzeichnet. Mitunter werden Links mit weiterführenden Informationen, etwa zu Öffnungszeiten, angegeben.</p>

            <h3>„Jüdische Orte“</h3>
            <p>Ein Stadtplan zu jüdischen Orten ist schon per definitionem ein schwieriges Unterfangen, denn was macht einen Ort zu einem „jüdischen“? Außerhalb der religiösen Sphäre unterscheiden sich jüdische Orte in den meisten Fällen in ihrem Erscheinungsbild nicht von nichtjüdischen Orten bzw. handelt es sich um identische Orte. Im Fokus steht daher die Nutzung der Orte: wer nutzte diese und wofür? Unschärfen bleiben aber naturgemäß bestehen, denn nicht immer haben sich diejenigen, die an den vorgestellten Orten wirkten, zwangsläufig selbst als Jüdinnen und Juden verstanden, bzw. ihr (jüdisches) Selbstverständnis hat nicht notwendigerweise den Ort geprägt. Ganz bewusst haben wir uns entschieden, mitunter auch Orte aufzunehmen, die kaum als „jüdisch“ zu definieren sind, gerade um die Unmöglichkeit einer eindeutigen Grenzziehung zu verdeutlichen und aufzuzeigen, dass Jüdinnen und Juden nicht nur im gesamtem Hamburger Stadtraum leb(t)en und agier(t)en, sondern dass sie in den verschiedensten Bereichen wirk(t)en und ihre Biographien unzertrennlich mit der Stadtgeschichte verwoben sind.</p>

            <h3>Historische Wohngebiete</h3>
            <h4>Altona</h4>
            <p>Seit dem frühen 17. Jahrhundert waren aschkenasische Familien als sogenannte Schutzjuden in Altona angesiedelt. 1642 erhielten sie von König Christian IV. ein erstes Privileg, diese gut ausgestatteten Privilegien wurden bis 1842, als die Altonaer Juden das Bürgerrecht erhielten, immer wieder verlängert. Die relativ tolerante Religionspolitik sowie die unmittelbare Nachbarschaft von Hamburg machten Altona zu einem attraktiven Wohnort. In Altona war auch das Oberrabbinat angesiedelt, das ab 1671 ebenfalls für die Hamburger Jüdinnen und Juden zuständig war. Mit der Abwanderung von Gemeindemitgliedern nach Hamburg und dem Ende der Dreigemeinde AHW 1812 verlor die Altonaer Gemeinde an Bedeutung. Sie geriet – auch durch den Zuzug osteuropäischer Juden seit dem späten 19. Jahrhundert – in (finanzielle) Abhängigkeit zur Hamburger Gemeinde. Unter nationalsozialistischer Herrschaft wurde Altona 1937 mit dem Großhamburg-Gesetz eingemeindet. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/hochdeutsche-israelitengemeinde-zu-altona-hig" target="_blank">Hochdeutsche Israelitengemeinde zu Altona (HIG) | Das Jüdische Hamburg</a>)</p>

            <h4>Altstadt / Neustadt</h4>
            <p>Die heutige Hamburger Innenstadt bildete das historisch erste Wohngebiet der Hamburger Jüdinnen und Juden. Zuerst ließen sich seit dem späten 16. Jahrhundert in der Altstadt zwischen Rödingsmarkt, Bohnenstraße, Mühlebrücke und Alten Wall sefardische Juden, die sogenannten Portugiesen, nieder. Sie kamen in der Regel als christliche Kaufleute, Ärzte oder Bankiers und kehrten dann teilweise in der Hansestadt zum jüdischen Glauben ihrer Vorfahren auf der Iberischen Halbinsel zurück.</p>
            <p>Die sogenannten aschkenasischen oder hochdeutschen Juden waren seit dem 17. Jahrhundert in Hamburg ansässig und bildeten ab dem 18. Jahrhundert die Mehrheit innerhalb der jüdischen Bevölkerung. Sie ließen sich in der Neustadt nieder, ein Gebiet, das erst durch eine Stadterweiterung in den Jahren 1616 bis 1628 neu erschlossen worden war. Ziel der Stadt war die Ansiedlung der Jüdinnen und Juden in einem begrenzten Gebiet westlich des Großneumarkts, um so einem Zusammenwohnen der christlichen und jüdischen Bevölkerung entgegenzuwirken. Über die Jahrhunderte entstanden dort zahlreiche jüdische Einrichtungen wie Synagogen, Schulen, Waisenhäuser, Wohnstifte oder Geschäftsräume. Mit der Wende vom 19. zum 20. Jahrhundert verlor die Neustadt ihre Bedeutung als vormals wichtigstes Zentrum jüdischen Lebens in Hamburg. Der Große Brand 1842, Umbauten und schließlich die Bombenangriffe im Zweiten Weltkrieg zerstörten einen Großteil der historischen Orte, sodass heute nur noch vereinzelt Spuren auf dieses Erbe hinweisen.</p>

            <h4>Harburg</h4>
            <p>Seit dem frühen 17. Jahrhundert siedelten jüdische Familien in Harburg, im 19. Jahrhundert wuchs die Zahl der Gemeindemitglieder an, die vor allem im Wirtschaftsleben eine aktive Rolle spielten. Die Gemeinde unterhielt einen eigenen Friedhof und eine Synagoge. Infolge des Großhamburg-Gesetzes von 1937 wurde sie dem Jüdischen Religionsverband Hamburg eingegliedert. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/harburg-wilhelmsburg-synagogengemeinde" target="_blank">Harburg-Wilhelmsburg, Synagogengemeinde | Das Jüdische Hamburg</a>)</p>

            <h4>Grindelviertel</h4>
            <p>Mit der Aufhebung der Torsperren durch die neue Hamburger Verfassung 1860 bildete sich das Grindelviertel seit der Wende vom 19. zum 20. Jahrhundert zum Hauptwohngebiet der Hamburger Jüdinnen und Juden heraus. Einrichtungen, die zuvor in der Neustadt bestanden hatten, zogen ins Grindelviertel bzw. wurden dort neu gegründet. Eine vielfältige Infrastruktur bestehend aus Geschäften für den täglichen Bedarf, Wohnstiften, Schulen, sozialen, kulturellen sowie religiösen Einrichtungen bildete sich heraus. Zentraler Ort war die 1906 von Semmy Engel und Ernst Friedheim errichtete Bornplatzsynagoge. Nach 1933 wurde das Grindelviertel auch Ort der einsetzenden Verfolgung und Vernichtung: Synagogen wurden geschändet und zerstört, Geschäfte boykottiert, Judenhäuser eingerichtet, Deportationen organisiert und abgewickelt. Das Logenhaus in der Hartungstraße war einer der letzten Orte jüdischer Selbstverwaltung. Die Neugründung der jüdischen Gemeinde in der Rothenbaumchaussee, der Bau der Synagoge in der Hohen Weide, die Einrichtung eines Altenheims in der Schäferkampsallee oder die Wiedereröffnung der früheren Talmud-Tora-Schule als Joseph Carlebach Bildungshaus verorten auch die jüdische Geschichte nach 1945 im Grindelviertel und seiner Nachbarschaft. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/grindelviertel" target="_blank">Grindelviertel | Das Jüdische Hamburg</a>)</p>

            <h4>Wandsbek</h4>
            <p>Möglicherweise ließen sich die ersten jüdischen Familien bereits in den 1580er-Jahren in Wandsbek nieder, urkundlich bezeugt ist der Zuzug von Altonaer Schutzjuden für das Jahr 1621. Die Gemeinde gehörte seit 1671 dem Dreigemeindeverband AHW an. Nachdem sie im 18. Jahrhundert stark geschrumpft war, konnte sich im 19. Jahrhundert eine gewisse Infrastruktur (Synagoge, Gemeindeschule, neuer Friedhof) entwickeln. In Folge der 1938 von den Nationalsozialisten erzwungenen Eingliederung in den Jüdischen Religionsverband Hamburg hörte die Wandsbeker Gemeinde auf, als eigenständige Körperschaft zu existieren. (Weiterlesen: <a href="https://www.dasjuedischehamburg.de/inhalt/wandsbek-j%C3%BCdische-gemeinde" target="_blank">Wandsbek, Jüdische Gemeinde | Das Jüdische Hamburg</a>)</p>

            <h3>Kategorien</h3>
            <p>Zur besseren Orientierung, aber auch um die Bandbreite der Orte, ihre historischen und gegenwärtige Nutzungen sichtbar zu machen, werden alle Einträge bestimmten Kategorien zugeteilt. Über die Filterfunktion im Menükasten oben rechts können je nach Interesse Kategorien deaktiviert bzw. aktiviert werden.</p>

            <h4>Bildung / Wissenschaft</h4>
            <p>Diese Kategorie umfasst ganz allgemein Orte des Forschens, Lehrens und Lernens, insbesondere Einrichtungen des jüdischen Schulwesens von traditionell-religiösen Einrichtungen bis zu reformpädagogischen Schulen, aber auch Bibliotheken oder Treffpunkte jüdischer Studentenvereinigungen.</p>

            <h4>Gedenken</h4>
            <p>Diese Kategorie fasst Orte, die in erster Linie oder ausschließlich dem Gedenken an die jüdische Vergangenheit der Stadt bzw. der Erinnerung an Verfolgung und Vernichtung der Hamburger Jüdinnen und Juden gewidmet sind. Vor allem sind dies verschiedene Mahnmale und Denkmäler. Historische Orte jüdischen Lebens, die heute auch eine Erinnerungsfunktion haben, werden hier nur in Ausnahmefällen erfasst, in der Regel wurden sie den anderen Kategorien zugeordnet. Im engeren Sinne handelt es sich nicht um „jüdische Orte“, da sie in der Gegenwart vornehmlich eine Funktion für die Mehrheitsgesellschaft erfüllen und weniger für die jüdische Gemeinschaft. Diese Einträge stammen in der Regel aus dem Kontext des Portals „<a href="https://gedenkstaetten-in-hamburg.de/" target="_blank">Gedenkstätten in Hamburg</a>“, das von der Stiftung Hamburger Gedenkstätten und Lernorte betreut wird.</p>

            <h4>Kultur / Kunst</h4>
            <p>In diese Kategorie fallen neben den wenigen innerjüdischen Kulturorten, wie etwa das Logenhaus, vor allem solche Orte, an denen Jüdinnen und Juden gewirkt haben. Die Definition „jüdischer Ort“ ist hier besonders unscharf, da sich ebenso die Frage stellt, was „jüdische Kunst“ bzw. „jüdische Kultur“ kennzeichnet.</p>

            <h4>Religion / Tradition</h4>
            <p>In dieser Kategorie finden sich alle Orte, die mit gelebter Frömmigkeit bzw. der Ausübung religiöser Traditionen im Zusammenhang stehen, hierzu zählen neben Synagogen und Betstuben etwa Klaus-Institute, Mikwen oder Friedhöfe.</p>

            <h4>Sport</h4>
            <p>Diese Kategorie umfasst sowohl Sportstätten als auch Geschäftsstellen von jüdischen Sportvereinen.</p>

            <h4>Soziales</h4>
            <p>In dieser Kategorie finden sich alle Orte, die im Bereich Wohlfahrt, Zusammenleben / Gemeinschaft und Fürsorge verortet werden können. Diese Orte umfassen die zahlreichen Wohnstifte ebenso wie Waiseninstitute und Armenhäuser, Einrichtungen zur medizinischen Versorgung, Altenheime, Sportanlagen oder Hachschara-Ausbildungsstätten.</p>

            <h4>Wirtschaft</h4>
            <p>Orte wirtschaftlichen Handelns lassen sich in erster Linie herausragenden Unternehmerpersönlichkeiten zuordnen, die eigene Firmen gründeten oder in herausragender Position in Unternehmen tätig waren. Darüber hinaus werden einzelne Geschäfte und Betriebe, die von jüdischen Inhabern oder Inhaberinnen geführt wurden, vorgestellt. Die sogenannte Judenbörse in der Elbstraße, ein bis ins frühe 20. Jahrhundert existierender Straßenmarkt, steht beispielhaft für den jüdischen Kleinhandel.</p>


            <h3>Quellen und Danksagung</h3>
            <p>Die Texte basieren auf:</p>

            <ul>
            <li>Online-Quellenedition „Hamburger Schlüsseldokumente zur deutsch-jüdischen Geschichte“, hrsg. v. IGdJ, online unter: <a href="https://juedische-geschichte-online.net/" target="_blank">https://juedische-geschichte-online.net</a></li>
            <li>Online-Nachschlagewerk „Das jüdische Hamburg“, hrsg. v. IGdJ, online unter: <a href="https://dasjuedischehamburg.de/" target="_blank">https://dasjuedischehamburg.de</a></li>
            <li>Hendrik Althoff, Das jüdische Zentrum Hamburgs. Jüdisches Leben in der Hamburger Alt- und Neustadt vom 16. bis ins frühe 20. Jahrhundert, Hamburg 2020 [unveröffentlicht].</li>
            <li>Jüdisches Hamburg, hrsg. v. d. Landeszentrale für Politische Bildung in Hamburg / Referat für Christlich-Jüdischen Dialog der Ev.-Luth. Kirche in Norddeutschland beim Zentrum für Mission und Ökumene – Nordkirche weltweit, Hamburg 2021.</li>
            <li>Arno Herzig [Hrsg.], Die Juden in Hamburg 1590 bis 1990. Wissenschaftliche Beiträge der Universität Hamburg zur Ausstellung „Vierhundert Jahre Juden in Hamburg“, Hamburg 1991.</li>
            <li>Irmgard Stein, Jüdische Baudenkmäler in Hamburg, Hamburg 1984, <a href="http://igdj-hh.de/files/IGDJ/pdf/hamburger-beitraege/irmgard-stein_juedische-baudenkmaeler-hamburg.pdf" target="_blank">http://igdj-hh.de/files/IGDJ/pdf/hamburger-beitraege/irmgard-stein_juedische-baudenkmaeler-hamburg.pdf</a>.</li>
            <li>Michael Studemund-Halévy / Anna Menny, Ort und Erinnerung. Ein historischer Streifzug durch das jüdische Hamburg von 1930, Hamburg 2013.</li>
            </ul>

            <p>Bei Auszügen wurde wo immer möglich auf den ursprünglichen Beitrag verlinkt. Außerdem finden sich umfassend Hinweise auf weiterführende Online-Angebote des IGdJ.</p>

            <p>Die ursprüngliche gedruckte Karte wurde 2009 von der <a href="https://www.hamburg.de/bkm/" target="_blank">Behörde für Kultur, Sport und Medien, Hamburg</a> herausgegeben und anschließend 2016 anlässlich des Jubiläums des <a href="http://www.igdj-hh.de/" target="_blank">Instituts für die Geschichte der deutschen Juden</a> neu aufgelegt.</p>
            <p>Wir danken Hendrik Althoff, dass wir Texte seiner Studie „Das jüdische Zentrum Hamburgs“ für den Stadtplan nutzen duften.</p>
            <p>Katrin Kessler, Angela Schwarz, Frauke Steinhäuser und Sonja Zoder danken wir für die Bereitstellung wichtiger Informationen und Texte zu einzelnen Orten. Iris Groschek und dem <a href="https://gedenkstaetten-in-hamburg.de/" target="_blank">Portal Hamburger Gedenkstätten und Lernorte</a> danken wir für die Bereitstellung der Texte zu den Gedenkorten. Der <a href="https://www.hamburg.de/bkm/" target="_blank">Behörde für Kultur und Medien Hamburg</a> danken wir für die Zurverfügungstellung der Zeichnungen und Texte aus dem gedruckten Stadtplan. Das Copyright für die Zeichnungen liegt bei: Silvie Bohmhard (<a href="https://silviebomhard.de/">silviebomhard.de</a>).</p>
            <p>Daniel Burckhardt und Tabea Henn danken wir für die technische und redaktionelle Unterstützung bei der Erstellung des digitalen Angebots.</p>
            <p>Für die finanzielle Unterstützung danken wir der <a href="https://h-w-s.org/" target="_blank">Hamburgischen Wissenschaftlichen Stiftung</a>. Das IGdJ wird von der <a href="https://www.hamburg.de/bwfgb/" target="_blank">Behörde für Wissenschaft, Forschung, Gleichstellung und Bezirke der Hansestadt Hamburg</a> gefördert.</p>

            <div class="d-md-flex justify-content-between" style="margin-bottom: 16px">
                <div><a href="http://igdj-hh.de/" target="_blank"><img src="{{ app.request.basepath }}/img/logo-igdj.png" alt="IGdJ - Institut für die Geschichte der deutschen Juden" style="height: 80px; width: auto; margin-right: 16px; margin-bottom: 16px" /></a></div>
                <div><a href="https://h-w-s.org/" target="_blank"><img src="{{ app.request.basepath }}/img/logo-hws.png" alt="Hamburgische Wissenschaftliche Stiftung" style="height: 80px; width: auto; margin-right: 16px; margin-bottom: 16px" /></a></div>
                <div><a href="https://www.hamburg.de/bkm/" target="_blank"><img src="{{ app.request.basepath }}/img/logo-bkm.png" alt="Hamburg | Behörde für Kultur und Medien" style="height: 80px; width: auto; margin-right: 16px; margin-bottom: 16px" /></a></div>
            </div>

            <h3>Impressum</h3>
            <p>Institut für die Geschichte der deutschen Juden<br />
            Beim Schlump 83<br />
            20144 Hamburg</p>
            <p>Telefon: +49 40 – 42 838-2617<br />
            Fax: +49 40 – 44 808-66</p>
            <p>E-Mail: kontakt@igdj-hh.de<br />
            Internet: <a href="http://www.igdj-hh.de/" target="_blank">www.igdj-hh.de</a></p>
            <p>Das Institut ist eine Stiftung bürgerlichen Rechts in der Trägerschaft der Freien Hansestadt Hamburg.</p>
            <p>Vertretungsberechtigte Personen:<br />
            Direktorin: Dr. Kim Wünschmann<br />
            Stellvertretender Direktor: PD Dr. Andreas Brämer</p>
            <p>Inhaltlich Verantwortlich:<br />
            PD Dr. Andreas Brämer, Dr. Anna Menny</p>
            <p>Technik und Design:<br />
            Daniel Burckhardt</p>

            <p>Aufsichtsbehörde:<br />
            Justizverwaltungsamt Stiftungsangelegenheiten<br />
            Drehbahn 36, 20354 Hamburg</p>

            <h3>Datenschutz</h3>
            <p>Dies ist ein Online-Angebot des Instituts für die Geschichte der deutschen Juden (IGdJ). Für die Verarbeitung aller personenbezogenen Daten, die im Zuge des Betriebs dieses Angebots anfallen, gilt die <a href="https://igdj-hh.de/datenschutz" target="_blank">allgemeine Datenschutzerklärung des IGdJ</a>.</p>

            <h3>Haftungshinweis</h3>
            <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        </div>
    </div>
{% endblock %}
