{% extends 'Default/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'About'|trans }}</h2>
            <p>This online presentation is based on the printed map published in 2009 by the <a href="http://www.hamburg.de/kulturbehoerde/">Hamburg Office of Cultural Affairs, Sports and the Media</a>, reissued in 2016 on the anniversary of the <a href="http://www.igdj-hh.de/home-175.html">Institute for the History of the German Jews</a></p>
            <p>The texts are based on the entries from <a href="http://www.dasjuedischehamburg.de/">„Das Jüdische Hamburg“</a>, the map „Jüdische Orte“ as well as „Jüdisches Leben in Hamburg. Ein Stadtführer“ by Frank Kürschner-Pelkmann (Hamburg 1997) and were compiled with the support of Jonas Stier.</p>

            <h3>Sponsors of the printed edition</h3>
            <ul>
                <li><a href="https://marketing.hamburg.de/">Hamburg Marketing GmbH</a></li>
                <li><a href="http://www.hamburg-tourism.de/">Hamburg Tourismus GmbH</a></li>
                <li><a href="http://www.toepfer-stiftung.de/">Alfred Toepfer Stiftung F.V.S</a></li>
                <li><a href="http://www.weichmann-stiftung.de/">Herbert und Elsbeth Weichmann-Stiftung</a></li>
                <li><a href="https://www.hk24.de/">Handelskammer Hamburg</a></li>
            </ul>

            <h3>Online Presentation</h3>
            <p>This web-site is published by the Institute for the History of the German Jews.</p>

            <h3>Imprint</h3>
            <p>Institute for the History of the German Jews<br />
            Beim Schlump 83<br />
            20144 Hamburg</p>
            <p>Phone: +49 40 – 42 838-2617<br />
            Fax: +49 40 – 44 808-66</p>
            <p>E-Mail: kontakt@igdj-hh.de</p>
            <p>The Institute is a foundation under civil law under the auspices of the Free Hanseatic City of Hamburg. </ P>
            <p>Authorized persons:<br />
            Director: Dr. Kim Wünschmann<br />
            Deputy Director: PD Dr. Andreas Brämer</p>
            <p>Responsible for the content:<br />
            PD Dr. Andreas Brämer</p>
            <p>Judicial authority:<br />
            Justizverwaltungsamt Stiftungsangelegenheiten<br />
            Drehbahn 36, 20354 Hamburg</p>

            <p>Technical realization: Daniel Burckhardt</p>
        </div>
    </div>
{% endblock %}
