@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic&subset=latin,latin-ext);

$font-stack-sans: 'Roboto Condensed', Arial, sans-serif;

$color-color-dark: #011A45;
$color-color-medium: #99A0B4;
$color-color-spot: #d42132;

$color-gray-dark: #9B9B9B;
$color-gray-medium: #C0C0C0;
$color-gray-light: #E0DFE0;

/* see https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
$screen-md-size: 768px;

html, body, #map {
    height: 100%;
}

body {
    font-family: $font-stack-sans;

	a {
		color: $color-color-medium;
	}

	/* override bootstrap navbar */
	nav.navbar-dark {
		margin-bottom: 0;

		background-color: $color-color-dark !important;
		border: none;
		border-radius: 0 !important;
		-moz-border-radius: 0 !important;

		a {
			color: white !important;
		}

		button.navbar-toggler {
			padding-left: 0;
			padding-right: 0;
		}

		.navbar-brand {
			margin-right: 8px;
			font-size: 14px;

			&.logo {
			}

			&.home {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		.navbar-nav {
			@media (min-width: $screen-md-size) {
				padding-left: 2rem;
			}

			li {
				padding-top: 0;
				padding-bottom: 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				min-height: 48px;

				&.active {
					background-color: $color-color-spot;
				}

				& > a {
					font-size: 14px;
				}
			}
		}
	}

	.color-spot {
		color: $color-color-spot;
	}

	.color-gray-medium {
		color: $color-gray-medium;
	}

	h3 > a {
		text-decoration: none;
	}

	figure {
		display: table;
		margin-left: 8px;
		float: right;

		img {
			display: block;
			max-height: 160px;
			max-width: 100%;
			width: auto;
		}

		figcaption {
			display: table-caption;
			caption-side: bottom;
			/* text-align: center; */
			a {
				/* break long commons urls */
				word-break: break-all; /* for Safari */
				overflow-wrap: anywhere;
			}
		}
	}

	.sl-wrapper {
		z-index: 2000; /* on top of popup content */
		background-color: white;
	}
}

/* leaflet overrides */
.leaflet-container {
	font-family: $font-stack-sans;
	font-size: inherit;
}
