{% extends '@App/Default/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12" style="margin-top: 2em">
            <p>Dieses Online-Angebot ist angelehnt an die gedruckte Karte von 2009 herausgegeben von der <a href="http://www.hamburg.de/kulturbehoerde/">Behörde für Kultur, Sport und Medien, Hamburg</a>, neu aufgelegt 2016 anlässlich des Jubiläums des <a href="http://www.igdj-hh.de/">Instituts für die Geschichte der deutschen Juden</a>.</p>
            <p>Die Texte basieren auf den Inhalten aus <a href="http://www.dasjuedischehamburg.de/">„Das Jüdische Hamburg“</a>, der Karte „Jüdische Orte“ sowie „Jüdisches Leben in Hamburg. Ein Stadtführer“ von Frank Kürschner-Pelkmann (Hamburg 1997) und wurden zusammengestellt mithilfe von Jonas Stier.</p>

            <h3>Förderpartner der Druckausgabe</h3>
            <ul>
                <li><a href="https://marketing.hamburg.de/">Hamburg Marketing GmbH</a></li>
                <li><a href="http://www.hamburg-tourism.de/">Hamburg Tourismus GmbH</a></li>
                <li><a href="http://www.toepfer-stiftung.de/">Alfred Toepfer Stiftung F.V.S</a></li>
                <li><a href="http://www.weichmann-stiftung.de/">Herbert und Elsbeth Weichmann-Stiftung</a></li>
                <li><a href="https://www.hk24.de/">Handelskammer Hamburg</a></li>
            </ul>

            <h3>Online-Angebot</h3>
            <p>Diese Web-Site wird vom Institut für die Geschichte der deutschen Juden betrieben.</p>

            <h3>Impressum</h3>
            <p>Institut für die Geschichte der deutschen Juden<br />
            Beim Schlump 83<br />
            20144 Hamburg</p>
            <p>Telefon: (0049) 40 - 42 838 - 2617<br />
            Fax: (0049) 40 - 44 808 - 66</p>
            <p>E-Mail: IGdJ@public.uni-hamburg.de</p>
            <p>Das Institut ist eine Stiftung bürgerlichen Rechts in der Trägerschaft der Freien Hansestadt Hamburg.</p>
            <p>Vertretungsberechtigte Personen<br />
            Direktorin: Dr. Miriam Rürup<br />
            stellvertretender Direktor: PD Dr. Andreas Brämer</p>
            <p>Inhaltlich Verantwortlich:<br />
            Dr. Miriam Rürup (Kontakt s.oben)</p>
            <p>Aufsichtsbehörde<br />
            Justizverwaltungsamt Stiftungsangelegenheiten<br />
            Drehbahn 36, 20354 Hamburg</p>

            <p>Technische Realisierung: Daniel Burckhardt</p>
        </div>
    </div>
{% endblock %}
